<form method="POST" action="/pirates">
  <p>Pirate <input type="name" name="name"></p>
  <p>Weight <input type="name" name="weight"></p>
  <p>Height <input type="name" name="height"></p>
  <input type="submit">
</form>
