<form method="POST" action="/pirates">
  <p>Pirate <input type="name" name="pirate[name]"></p>
  <p>Weight <input type="name" name="pirate[weight]"></p>
  <p>Height <input type="name" name="pirate[height]"></p>
  <input type="submit">
</form>
