<form method="POST" action="/pirates">
  <p>Pirate <input type="name" name="pirate[name]"></p>
  <p>Weight <input type="name" name="pirate[weight]"></p>
  <p>Height <input type="name" name="pirate[height]"></p>

  <p>Ship Name: <input type="name" name="ship[name]"></p>
  <p>Type: <input type="name" name="ship[type]"></p>
  <p>Booty: <input type="name" name="ship[booty]"></p>
  <input type="submit">
</form>
